@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100vh;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    @apply bg-gray-50;
  }
}

.access_control {
  /* background color form top to bottom white to gray */
  background: linear-gradient(#ffffff79 0%, #f1eeee 100%);
}

.ck-editor__editable {
  min-height: 200px;
  max-height: 600px;
}
